// primary
$bgRed: hsl(0, 100%, 74%);
$limeGreen: hsl(154, 59%, 51%);
$base: white;
// accent
$accentGreen: hsl(154, 82%, 63%);
$accentBlue: hsl(248, 32%, 49%);
// secondary
$darkBlue: hsl(249, 10%, 26%);
$grayBlue: hsl(246, 25%, 77%);
